.idea/

*.o
*.log
Makefile

# GParted build artifacts
autom4te.cache/
build.txt
config.h
config.status
configure~
gparted
gparted.desktop.in
help/*/*.mo
lib/gtest/src/.deps/
libtool
org.gnome.gparted.policy
org.gnome.gparted.policy.in
po/Makefile.in
po/POTFILES
src/.deps/
src/gpartedbin
stamp-h1
tests/.deps/

config.h.in~
po/Makevars.template
